[Unit]
Description=Timer to start futures market data recorder

[Timer]
OnCalendar=*-*-* 08:40:00
OnCalendar=*-*-* 13:20:00
OnCalendar=*-*-* 20:50:00
Unit=record-start.service
Persistent=true

[Install]
WantedBy=timers.target