[Unit]
Description=Scheduler for futures market data recorder

[Timer]
OnCalendar=*-*-* 08:40:00
Unit=record-start.service

OnCalendar=*-*-* 11:40:00
Unit=record-stop.service

OnCalendar=*-*-* 13:20:00
Unit=record-start.service

OnCalendar=*-*-* 15:10:00
Unit=record-stop.service

OnCalendar=*-*-* 15:30:00
Unit=record-archive.service

OnCalendar=*-*-* 20:50:00
Unit=record-start.service

OnCalendar=*-*-* 02:40:00
Unit=record-stop.service

Persistent=true

[Install]
WantedBy=timers.target