[Unit]
Description=Archive collected futures market data

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'pushd /var/lib/webctp/record > /dev/null && if [ $(date +"%%Y%%m%%d") == $(ls) ]; then tar -zcf ../archived/$(ls).tar.gz $(ls) && rm -r $(ls); fi && popd > /dev/null'
